Capstone_UserShip/Content/UFO_ASSET/UFO_fbx/UFO_Metal_BaseColor.uasset filter=lfs diff=lfs merge=lfs -text
Capstone_UserShip/Content/UFO_ASSET/UFO_fbx/Textures/UFO_Metal_BaseColor.uasset filter=lfs diff=lfs merge=lfs -text
Capstone_UserShip/Binaries/IOS/Capstone_UserShip filter=lfs diff=lfs merge=lfs -text
